<!DOCTYPE html>
<html>
<head>
  <title>Flask transaction</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <h1>Welcome {{session.username}}!</h2>
      <br>

      <li><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>

      <!-- can be useful don't delete first, if you want a main main page before login -->
      <!-- {% if session['logged_in'] == True %}
      <li><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
      {% else %}
      <li><a href="/login">Login <span class="sr-only">(current)</span></a></li>
      {% endif %} --> 






<table>
  <thead>
    <tr>
      <th scope="column">Date </th>
      <th scope="column">Tag </th>
      <th scope="column">Transaction ID</th>
      <th scope="column">Ref number</th>      
      <th scope="column">Type</th>   
      <th scope="column">Amount</th>   
    </tr>
  </thead>

  <tbody>
    <tr>
      {% for i in range(0,20) %}

        <td> {{date[i]}} </td>
        <td> {{tag[i]}} </td>
        <td> {{date[i]}} </td>
        <td> {{ref_no[i]}} </td>
        <td> {{ttype[i]}} </td>     
        <td> {{amount[i]}} </td>    
    </tr>
      {% endfor %}

  </tbody>
</table>




</script>

<!-- TABLE -->



</div>
</body>
</html> 