<!DOCTYPE html>
<html>
<head>
  <title>Flask transaction</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <h1>Welcome {{session.username}}!</h2>
      <br>

      <li><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>

      <!-- can be useful don't delete first, if you want a main main page before login -->
      <!-- {% if session['logged_in'] == True %}
      <li><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
      {% else %}
      <li><a href="/login">Login <span class="sr-only">(current)</span></a></li>
      {% endif %} --> 

      <p>here is the: {{transaction_details}}</p>








</script>

<!-- TABLE -->



</div>
</body>
</html> 